*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: repeating-linear-gradient(90deg, #e2c9d7, #e2c9d7 20px, #e9d2df 0, #e9d2df 40px)
}
#container{
    margin-left: 10%;
    margin-right: 10%;
}
header{
    height: 10em;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
header >div#logo>img{
    width: 10em;
}
h1{
    color:palevioletred;
}
.section-1{
    padding: 5%;
    border: solid;
    background-color: palevioletred;
    color: white;
}
section.section-1>div.texte{
    font-size: x-large;
}
section.section-1>div.texte>p#lien{
    font-size: medium;
}
.section-2{
    background-color: rgba(255,255,255,0.3);
}
.section-2>div{
    display: flex;
}
.section-2>h2{
    padding: 30px;
}
.sample>h2{
    margin: 10px;
    
}
.bouton{
    background-color: palevioletred;
    padding: 10px;
    padding-inline: 30px;
    color:white;
    white-space: nowrap;


}
section
#img{
    gap: 2%;
}
#img img{
    /* border: solid black; */
    width: 30%;
}
figure{
    width: 30%;
    background-color: rgba(255,255,255,0.3);
}
.row{
    display: flex;
    justify-content: space-between;
    margin:20px;
}
.row .impair{
    background-color: rgb(201, 10, 201);
}
figure>img{
    width: 100%;
}
iframe{
    width: 100%;
}
span{
    float: right;
}
#hours {
    width: 45%;
    background-color: rgba(255,255,255,0.3);
    height: 11em;
    padding: 8px;
}
#hours>h2{
    padding: 6px;
}
#map {
    width: 50%;
    background-color: rgba(255,255,255,0.3);
    padding:10px;
}
#map>h2{
    padding: 7px;
}
@media screen and (max-width: 720px) {
    header{
        flex-direction: column;
    }
    header h1 {
        visibility: hidden;
    }
    address h2{
        text-align: center;
    }
    .section-2 #img{
        gap:50px;
    }
    #img #texte{
        width: 100%;
    }
    #map{
        display: none;
    }
    .row figure{
        width:100%;
    }
}
